{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    {% if messages or form.non_field_errors %}
                    <div class="alert {% if form.non_field_errors %}alert-warning{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert" style="margin-top: 50px;">
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% else %}
                            {{ form.non_field_errors }}
                        {% endif %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                    {% element h1 %}
                                        {% trans "Sign Up" %}
                                    {% endelement %}
                                </h3>
                            </div>
                            <div class="card-body">
                                {% element p %}
                                    {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}
                                {% endelement %}
                                {% url 'socialaccount_signup' as action_url %}
                                {% element form form=form method="post" action=action_url %}
                                    {% csrf_token %}
                                    {% slot body %}
                                        {% element fields form=form unlabeled=True %}
                                        {% endelement %}
                                        {{ redirect_field }}
                                    {% endslot %}
                                    {% slot actions %}
                                        {% element button type="submit" %}
                                            {% trans "Sign Up" %}
                                        {% endelement %}
                                    {% endslot %}
                                {% endelement %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
{% comment %} {% block content %}
    

    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans "Sign Up" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %} {% endcomment %}
