{% extends "tasks_app/base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <div class="container" style="background-color: rgba(255, 255, 255, 0.4); padding: 10px;">
        <h1 class="text-secondary navbar-text text-uppercase display-4">Добавьте новое рабочее поле.</h1>
        <div class="d-flex flex-wrap justify-content-center">
            <form action="{% url 'tasks:add_field' %}" method='POST'>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.name.id_for_label }}" class="form-label">Название</label>
                    {{ form.name }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.description.id_for_label }}" class="form-label">Описание</label>
                    {{ form.description }}
                </div>
                <button type="submit" class="btn btn-primary me-2">Добавить</button>
                <a href="{% url "tasks:tasks_list" %}" class="btn btn-danger ms-auto float-right">Назад</a>
            </form>
        </div>
    </div>
{% endblock %}