{% extends "tasks_app/base.html" %}
{% load humanize %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <div class="container" style="background-color: rgba(255, 255, 255, 0.4); padding: 10px;">
        <h1 class="text-secondary navbar-text text-uppercase display-4"><b>Количество рабочих полей: {{ work_fields.count }}</b></h1>
        <div class="d-flex flex-wrap justify-content-center">
            {% for field in work_fields %}
                <div class="card m-2" style="width: 18rem;" title="{{ field.description }}">
                    <div class="card-body" style="background-color: rgba(173, 216, 230, 0.3); padding: 10px;">
                        <div class="form-group d-flex align-items-center justify-content-between mt-0 mb-0">
                            <i class='text-info'>#{{ field.id }} Создано: {{ field.created_timestamp|naturaltime }}</i>
                            <a style="cursor: pointer; color: lightblue;" onclick="closeWindow()" href="{% url "tasks:delete_field" field.id%}" title='Удалить'>
                                <i class="icon fas fa-times" onmouseover="this.style.transition='color 0.3s ease'; this.style.color='grey'" onmouseout="this.style.transition='color 0.3s ease'; this.style.color='lightblue'"></i>
                            </a>
                        </div>
                        <h5 class="card-title p-3 mb-2 text-white text-center" style="background-color: rgba(173, 216, 230, 1);">{{ field.name }}</h5>
                        <ul class="list-group list-group-flush">
                            {% for task in field.tasks.all %}
                                <li class="list-group-item" style="background-color: rgba(255, 255, 255, 0.8); color: #4e6d7a; border-radius: 5px; margin-bottom:5px;">{{ task.content }}</li>
                            {% endfor %}
                            <a href="#" class="list-group-item text-center" style="text-decoration: none; cursor: pointer; transition: all 0.3s ease; background-color: rgba(200, 200, 200, 0.8); color: #4e6d7a; border-radius: 5px;" onmouseover="this.style.backgroundColor='rgba(150, 150, 150, 0.8)'; this.style.color='white';" onmouseout="this.style.backgroundColor='rgba(200, 200, 200, 0.8)'; this.style.color='#4e6d7a';">
                                Добавить задачу
                            </a>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}